.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 30px;
  margin-top: 1.5rem;
}

.details {
  width: 28rem;
  border: 1px solid #00000021;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Removed .registerRestaurant styles */